@page
@model MarketplaceWebUI.Pages.MarketplaceModel
@using MarketplaceObjects
@{
    ViewData["Title"] = "Marketplace";
}

<div class="text-center">
    <h1 class="display-4">Marketplace</h1>
    <p>Ipsum, etc.</p>

    <p>@{
            @Model.Marketplace.Title
    }</p>

    @{
        @foreach (var cat in @Model.Marketplace.Categories)
        {
            <table>
                <tr>
                    <td>
                        @cat.Title
                    </td>
                    <td>
                        @cat.Content
                    </td>
                </tr>
            </table>
        }
    }
</div>
